html {
    background-image: url(russia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.nameofcontinent{
position: absolute;
width: 117px;
height: 39px;
left: 81px;
top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
cursor: pointer;
color: #FFFFFF;
}

.back{
position: absolute;
width: 93px;
height: 39px;
left: 81px;
top: 80px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #FFFFFF;
cursor: pointer;
}

.choice{
    position: absolute;
    width: 783px;
    height: 90px;
    right: -160px;
    top: -30px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 113px;
    
    color: #FFFFFF;
    cursor: pointer;
}

.search{
position: absolute;
width: 380px;
height: 40px;
right: 30px;
top: 200px;
border-radius: 12px;
border: none;
cursor: pointer;
}

.columns{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin-top: 320px;
  justify-items: center;
  align-items: center;
  margin-left: 50px;
}

.city-container{
  font-family: 'Raleway';
  font-size: 48px;
  color: black;
  background-color: #FFFFFF;
  border-radius: 21px;
  width: 380px;
  text-align:center;
  margin-bottom: 20px;
  cursor: pointer;
}

.country:hover{
  background-color: rgb(205, 205, 205);
}






